<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/11ty-hello-horses/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/global.css">
    <title>Document</title>
</head>
<body>
    <header><a href="/11ty-hello-horses/"><h1>Hello Horses!</h1></a></header>
    <main>
        <img src="{{imageURL}}" alt="{{imageAlt}}">
        <h1>{{name}}</h1>
        <p>
            Sighted: <time datetime="{{sightDate}}">{{date}}</time>
        </p>
        {{content}}
    </main>
    <footer>
        <p>&copy; 2022 mayormaier</p>
    </footer>
</body>
</html>